* {
 box-sizing: border-box;
}

p {
 font-size: 20px;
}

.item1 {
 grid-area: header;
}
.item2 {
 grid-area: menu;
}
.item3 {
 grid-area: main;
}

.item5 {
 grid-area: footer;
}

.grid-container {
 display: grid;
 grid-template-columns: 8vw 18vw 18vw 18vw 18vw;
 grid-template-rows: 8vh 40vh 40vh 8vh;
 grid-template-areas:
  "menu header header header header header"
  "menu main main main main main "
  "menu main main main main main "
  "menu footer footer footer footer footer";
 gap: 5px;
 background-color: #ffffff;
 padding: 10px;
 width: 100vw;
 height: 100vh;
}

.grid-container > * {
 background-color: rgba(0, 0, 0, 0.05);
}

.item3 > * {
 margin-left: 15%;
 margin-bottom: 0% !important;
 margin-right: 15%;
 margin-top: 0%;
}

.switch {
 height: 30px !important;
 width: 50px !important;
}
